@charset "utf-8";

*{
  box-sizing: border-box;
}

.container{
  border: 10px solid teal;
  display: grid;

  /* grid-template-columns: 100px 100px 100px; */
  /* grid-template-columns: repeat(4, 100px 50px); */
  grid-template-columns: repeat(4, 2fr);
  /* grid-template-rows: 50px 50px; */
  grid-template-rows: repeat(2, minmax(50px, auto));
  grid-template-areas: "item1 item1 . item5"
                       "item2 item3 item4 item5";

  [class^="item"]{
   background: #ffc;
    border: 1px solid blue;
  }
}

.item1{
  grid-area: item1;
}
.item2{
  grid-area: item2; 
}
.item3{
  grid-area: item3;
}
.item4{
  grid-area: item4;
}
.item5{
  grid-area: item5;
}


/* .item3{
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
  
  grid-row: 1/3;
  grid-column: 2/3;

  grid-area: 1/3/3/5;
} */

/* .item5{
  order: -1;
} */
