@charset "utf-8";

*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1em;
  font-weight: 400;
}

/* 컨테이너 */

.container{
  background: silver;
  display: flex;
  /* column으로 direction 지정 , 각각의 영역을 100% 주고 flex-wrap: wrap 지정하기 */
  flex-wrap: wrap;
  /* flex-flow: row wrap; */
}

/* 헤더 */
.header{
  background: yellow;
  height: 10vh;
  width: 100%;
  order: -1;
}

/* 내비게이션 */
.navigation{
  background: pink;
  height: 10vh;
  width: 100%;
  order: -1;
}
/* 메인 콘텐츠 */
.main-content{
  background: skyblue;
  width: 100%;
  height: 50vh;
}

/* 광고 */
.ad{
  background: orange;
  width: 100%;
  height: 20vh;
  order: -1;
}

/* 푸터 */
.footer{
  background: lime;
  width: 100%;
  height: 10vh;
}

@media screen and (min-width: 801px){
  /* 랩탑 컨테이너 */
  .container{
    max-width: 1200px;
    margin:0 auto;
  }
  /* 랩탑 메인 콘텐츠 */
  .main-content{
    width: 80%;
    order: -1;
  }
  /* 랩탑 광고 */
  .ad{
    width: 20%;
    order: 0;
  }
}