@charset "utf-8";

/* 모든 디바이스 */
*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1em;
  font-weight: 400;
}
/* 컨테이너 */
.container{
  background: silver;
  display: flex;
  /* column으로 direction 지정 , 각각의 영역을 100% 주고 flex-wrap: wrap 지정하기 */
  flex-wrap: wrap;
  /* flex-flow: row wrap; */
}

/* ALL 헤더 */
.header{
  background: yellow;
}

/* ALL 내비게이션 */
.navigation{
  background: pink;
}

/* ALL 메인 콘텐츠 */
.main-content{
  background: skyblue;
}

/* ALL 광고 */
.ad{
  background: orange;
}

/* ALL 푸터 */
.footer{
  background: lime;
}

/* 모바일 스타일 */
.header{
  flex-basis: 100%;
  height: 50px;
}

.navigation{
  flex-basis: 100%;
  height: 50px;
}

.main-content{
  flex-basis: 100%;
  height: calc(100vh - 200px);
}

.ad{    
  flex-basis: 100%;
  height: 50px;
}

.footer{    
  flex-basis: 100%;
  height: 50px;
}

/* 태블릿 스타일 */
@media screen and (min-width: 50em){
  /* 컨테이너 */

  /* 태블릿 헤더 */
  .header{
    flex-basis: 70%;
  }

  /* 태블릿 내비게이션 */
  .navigation{
    flex-basis: 30%;
  }

  /* 태블릿 메인 콘텐츠 */
  .main-content{
    flex-basis: 100%;
    height: calc(100vh - 150px);
  }

  /* 태블릿 레이아웃 순서 */
  .header, .navigation, .ad{
    order: -1;
  }
}

/* 랩탑 스타일 */

@media screen and (min-width: 64em){
  /* 컨테이너 */

  /* 랩탑 헤더 */
  .header{
    flex-basis: 100%;
  }

  /* 랩탑 내비게이션 */
  .navigation{
    flex-basis: 100%;
  }

  /* 랩탑 메인 콘텐츠 */
  .main-content{
    flex-basis: 70%;
  } 

  /* 랩탑 광고 */
  .ad{
    flex-basis: 30%;
    height: calc(100vh - 150px);
  }

  /* 랩탑 레이아웃 순서 */
  .navigation{
    order: -2;
  }
}

/* 와이드 스크린 스타일 */
@media screen and (min-width: 100em){
  /* 컨테이너 */

  /* 헤더 영역 */
  .header{
    flex-basis: 100%;
  }

  /* 내비게이션 */
  .navigation{
    flex-basis: 30%;
  }

  /* 메인 콘텐츠 */
  .main-content{
    flex-basis: 50%;
  } 
  /* 광고 */
  .ad{
    flex-basis: 20%;
  }

  /* 와이드 레이아웃 순서*/
  .navigation, .ad{
    order: 0;
  }

  .header{
    order: -1
  }

  .navigation, .main-content, .ad{
    height: calc(100vh - 100px);
  }
}