@charset "utf-8";

.container{
  display: flex;
  flex-wrap: wrap;
}

.rwd-container{
  border: 10px solid teal;
  box-sizing: border-box;
  margin: 0;
  padding:0;
  flex-basis: 30%;
  flex-grow: 1;
}

.rwd-iframe-container{
  width: 100%;
  padding-top: 56.25%;
  height: 0 !important;
  background: yellow;
  position: relative;
}

.rwd-iframe{
  max-width: 100%;
  height: auto;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;;
}