@charset "utf-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(./fonts.css);
*, *::before, *::after { 
  font-family: 'Spoqa Han Sans', 'Sans-serif'; 
  box-sizing: border-box;
}

/* Reset CSS */
fieldset{
  margin: 0;
  padding: 0;
  border: 0 none;
}
legend, .a11y-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  clip-path: polygon(0 0, 0 0, 0 0)
}
a{
  text-decoration: none;
  color: inherit;
}

/* grid module */
.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}

.flex-col{
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
}

/* All Device */
.container{
  background: silver;
}

.header{
  background: yellow;
}

.main{
  background: skyblue;
}

.navigation{
  background: pink;
}

.book{
background: lime;
}

.news{
background: goldenrod;
}

.board{
  background: teal;
}

.favorite{
  background: hotpink;
}

.twitter{
  background: aqua;
}

.footer{
  background: orange;
}

